@use './functions' as *;

// Page wrapper
.wrapper {
	padding: 0 rem(64);
	max-width: rem(1280);
	width: 100%;
	margin: 0 auto;
	will-change: padding;
}

// 16:9 resolution scaling
.r16-9 {
	position: relative;
	padding-bottom: 56.2%;
	width: 100%;
	&-item {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

// Default anchor tag
.anchor {
	color: hsl(var(--accent)) !important;
	font-weight: 500 !important;
	&:hover {
		text-decoration: underline;
	}
}

// Flex scroller
.scroller {
	display: flex;
	flex: 1 1 0%;
	overflow: hidden auto;
	position: relative;
	&-inner {
		height: 100%;
		min-height: min-content;
		overflow: hidden auto;
		width: 100%;
	}
}

// Markdown
.markdown {
	color: var(--text-secondary);
	line-height: 1.3;

	:first-child {
		margin-top: 0;
	}
	:last-child {
		margin-bottom: 0;
	}

	h1 {
		font-size: rem(38);
	}
	h2 {
		font-size: rem(26);
	}
	h3 {
		font-size: rem(20);
	}
	h4 {
		font-size: rem(18);
	}

	h1,
	h2,
	h3,
	h4 {
		margin: rem(35) 0 rem(15);
		padding-bottom: rem(5);
		border-bottom: rem(1) solid var(--border);
	}

	h1,
	h2,
	h3 {
		color: var(--text-primary);
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				box-shadow: none;
			}
		}
	}
	p {
		margin-bottom: rem(10);
	}

	a {
		color: hsl(var(--accent));
		text-decoration: underline;
		&:hover {
			box-shadow: inset 0 rem(-2) 0 hsl(var(--accent));
		}
	}

	ul {
		list-style-type: disc;
		padding-left: rem(25);
		margin-bottom: rem(15);
		ul {
			list-style-type: unset;
		}
	}
	ol {
		list-style-type: decimal;
		padding-left: rem(25);
		margin-bottom: rem(15);
	}
	li {
		margin-bottom: rem(5);
		p {
			margin-bottom: 0;
		}
	}

	blockquote {
		border-left: rem(4) solid var(--border);
		color: var(--text-tertiary);
		font-style: italic;
		margin-bottom: rem(15);
		margin-left: 0;
		padding-left: rem(15);
	}

	hr {
		height: rem(4);
		background: var(--border);
		margin-bottom: rem(15);
	}

	details {
		margin-bottom: rem(15);
	}
	summary {
		cursor: pointer;
	}

	kbd {
		border: rem(1) solid var(--border);
		padding: rem(5);
		border-radius: rem(4);
		background: var(--c6);
		box-shadow: inset 0 -rem(2) 0 var(--border);
	}

	table {
		background: var(--c2);
		margin-bottom: rem(15);
		border-collapse: collapse;
		width: 100%;
		thead {
			color: var(--text-primary);
			th {
				font-weight: 500;
			}
		}
		th,
		td {
			border: rem(1) solid var(--border);
			padding: rem(10);
		}
		tr:nth-child(even) {
			background: var(--c2);
		}
		code:not(pre code) {
			background: var(--c1);
		}
	}
	// Syntax highlighting
	code {
		font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-weight: 600;
	}
	pre {
		font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-weight: 600;
		background: var(--c2);
		border-radius: rem(4);
		padding: rem(15);
		margin-bottom: rem(15);
		overflow: auto;
	}
	code:not(pre code) {
		border: rem(1) solid var(--border);
		background: var(--c2);
		padding: rem(2) rem(5);
		border-radius: rem(4);
	}
	pre[class*='language-'],
	code[class*='language-'] {
		color: var(--text-secondary);
		font-size: rem(13);
		text-shadow: none;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		line-height: 1.5;
		tab-size: 4;
		hyphens: none;
	}
	pre[class*='language-'] {
		padding: 1em;
		margin: 0.5em 0;
		overflow: auto;
	}
	.namespace {
		opacity: 0.7;
	}
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: var(--text-tertiary);
	}
	.token.punctuation {
		color: var(--text-secondary);
	}
	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: var(--syntax-orange-1);
	}
	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: var(--syntax-orange-2);
	}
	.token.operator {
		color: var(--text-secondary);
	}
	.token.interpolation {
		color: var(--syntax-red);
	}
	.token.interpolation-punctuation {
		color: var(--syntax-purple);
	}
	.token.interpolation .token.operator {
		color: var(--text-secondary);
	}
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.attr-value {
		color: var(--syntax-orange-2);
	}
	.token.atrule,
	.token.keyword {
		color: var(--syntax-purple);
	}
	.token.function {
		color: var(--syntax-teal);
	}
	.token.regex,
	.token.important,
	.token.variable {
		color: var(--syntax-orange-2);
	}
	.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}
	.token.entity {
		cursor: help;
	}

	// Language specific
	pre[class*='javascript'],
	code[class*='javascript'] {
		color: var(--syntax-red);
	}
}
