@use './themes/dark';

@use 'utils';

:root {
	// Colours
	--hue: 158;
	--accent: var(--hue) 79% 56%;
	--accent-dark: var(--hue) 70% 42%;

	--yellow: 27 96% 61%;
	--red: 0 84% 60%;
	--green: 142 71% 45%;

	// Fonts
	--font-body: 'Inter', 'Roboto', Arial, sans-serif;
	--font-display: 'Manrope', var(--font-body);

	// Radius
	--radius-sm: 2px;
	--radius: 4px;
	--radius-lg: 8px;

	// Editor
	--editor-nav-height: 46px;
	--editor-sidebar-width: 450px;

	// Codeblocks
	--syntax-purple: hsl(279 58% 66%);
	--syntax-teal: hsl(184 67% 44%);
	--syntax-red: hsl(346 77% 63%);
	--syntax-orange-1: hsl(9 78% 73%);
	--syntax-orange-2: hsl(20 91% 78%);
	--syntax-orange-3: hsl(25 91% 79%);
}

::selection {
	background: hsl(var(--accent));
	color: #000;
	text-shadow: 0 2px 5px hsl(0 0% 0% / 0.4);
}

html {
	overflow: auto;
	overflow: overlay;
	scroll-behavior: smooth;
	&.modal-active {
		overflow: hidden !important;
	}
}

body {
	background-color: var(--background-main);
	font-family: var(--font-body);
	color: var(--text-secondary);
}

// Always bottom footer
body,
#page {
	min-height: 100vh;
	height: auto;
}

#page {
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1 0 auto;
}

#footer {
	flex-shrink: 0;
}
