@use 'functions' as *;
@use 'utils';

:root {
	--accent: 159 79% 56%;
	--accent-dark: 159 70% 42%;

	--yellow: 27 96% 61%;
	--red: 0 84% 60%;
	--green: 142 71% 45%;

	--c0: hsl(0 0% 6%);
	--c1: hsl(0 0% 10%);
	--c2: hsl(0 0% 12%);
	--c3: hsl(0 0% 14%);
	--c4: hsl(0 0% 16%);
	--c5: hsl(0 0% 18%);
	--c6: hsl(0 0% 20%);
	--c7: hsl(0 0% 22%);
	--c8: hsl(0 0% 24%);

	--bg: var(--c1);
	--bg-alt: var(--c1);

	--text-primary: hsl(0 0% 100%);
	--text-secondary: hsl(0 0% 80%);
	--text-tertiary: hsl(0 0% 50%);

	--border: var(--c4);
	--border-hover: var(--c8);

	--card: var(--c2);
	--card-border: var(--c4);
	--card-hover: var(--c4);

	--nav-hover: var(--c3);
	--nav-active: var(--c4);

	--syntax-purple: hsl(279 58% 66%);
	--syntax-teal: hsl(184 67% 44%);
	--syntax-red: hsl(346 77% 63%);
	--syntax-orange-1: hsl(9 78% 73%);
	--syntax-orange-2: hsl(20 91% 78%);
	--syntax-orange-3: hsl(25 91% 79%);
}

::selection {
	background: hsl(var(--accent));
	color: #000;
	text-shadow: 0 2px 5px hsl(0 0% 0% / .4);
}

html {
	overflow: hidden;
}
body {
	background: var(--bg);
	font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
	color: var(--text-secondary);
}

#svelte {
	display: flex;
	height: 100vh;
	width: 100vw;
}